body{
    background-color: yellowgreen;
}

div#titre1page1{
    background-color: green;
    color: blue;
    font-size: 20px;
    text-decoration: underline;
    font-style: italic;
}

div, p{
    font-family: purisa, Arial, "Times New Roman", serif;
    font-size:30px;
    text-decoration: underline overline;
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    margin: 0.5cm 1cm;
    padding: 0.5cm;
    border:0.5cm blue groove;
}

nav.navigation{
    width: 100%;
    height: 70px;
    background-color: khaki;
}

a{
    width: 150px;
    height: 30px;
    display: block;
    background-color: gold;
    border: 1px green groove;
    text-align: center;
    padding: 10px;
    margin: 10px;
    float: left;
    border-radius: 15px 50px 30px 5px;
}

a:hover{
    background-color: pink;
}
